/* Carousel */
#main-carousel { 
  overflow: hidden; 
}
.carousel .item {
  height: 716px;
}
.carousel-inner > .item > img {
  min-width: 100%;
  height: 716px;
}

h3 {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  text-shadow: 2px 2px 5px #000;
}


/* Hotel Search Panel */
.hotel-img {
  display: inline-block;
  width: 250px;
}

.hotel-title {
  display: inline-block;
  padding-left: 20px;
}

.img-margin {
  margin-top: 10px;
}

h2 {
  display: inline-block;
  color: #3d2866;
  position: relative;
  left: 360px;
}

.btn-success {
  background-color: #3d2866;
}

/* Navbar */
#nav {
  position: fixed;
  width: 100%;
}
.alert {
  position: relative;
  left: 65px;
}

.navbar-inverse {
  background-color: #3d2866;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  text-shadow: 2px 2px 5px #000;
}

#font-hotel {
  color: #fff;
}

#panel-title {
  background-color: #a38ecc;
  font-family: 'Lobster', cursive;
  font-size: 2em;
  color: #fff;
  text-shadow: 2px 2px 5px #000;

}

/* More info */
.modal-header {
  background-color: #3d2866; 
}

.modal-title {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  text-shadow: 2px 2px 5px #000;
  color: #fff;
}

#close {
  background-color: #3d2866; 
}

#yo {
  width: 100%;
}
/*============Chinmay Added css below*/

#citySearch, 
#dateCheckIn, 
#dateCheckOut, 
#starRating, 
#Amenities, 
#Price {
    text-align: left;
    /*float: left; */
    width: 135px;
}

#modalFooterMessage {
    text-align: left;
    text-decoration: none;
}
#buttondropdownMenu1,
#buttondropdownMenu2,
#buttondropdownMenu3 {
  text-align: left;
  width: 173px;
}

#advance {
  font-size: 2em;
}

