h3 {
    color: red;
    text-align: center;
}

#topnavBar {
    color: blue;
}

#citySearch, 
#dateCheckIn, 
#dateCheckOut, 
#starRating, 
#Amenities, 
#Price {
    text-align: left;
    /*float: left; */
    width: 135px;
}